/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1, h2 {
    margin-bottom: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

/* Seções para cada elemento */
#carousel, #accordion, #tabs, #parallax, #cards, #progress-bar, #modals, #hover, #lightbox, #timeline, #flip-cards, #svg-animation {
    margin-top: 60px; /* Para dar espaço abaixo da navegação fixa */
}

.main-menu{
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

.main-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-menu>ul>li{
    position: relative;
    margin: 0 15px;
}

.main-menu a{
    color: #d6d6d6;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: all 0.3s ease; /*suaviza transições de cor */
}

.main-menu>ul>li>a{
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a:hover{
    background-color: #c5c4c4;
    color: #e1dfdf;
}

.main-menu a:active{
    background-color: #444343;
    color: #dad9d9;
}

.main-menu a:visited{
    color: rgb(149, 144, 149);
}

.submenu{
    display: none; /*submenu invisivel por padrão*/
    position: absolute; /*posicionado em relação ao li pai */
    top: 100%;
    left: 0;
    background-color: #201e20;
    min-width: 200px;
    box-shadow: 0 8px 16px rgb(221, 220, 220); /*sombra para destacar*/
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px); /*levemente deslocado para cima*/
    transition: opacity 0.3s, transform 0.3s; /*animação suave na abertura */
}

.main-menu li:hover>.submenu{
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.submenu li{
    width: 100%;
}

.submenu a{
    padding: 12px 20px;
    font-size: 0.9rem;
}

.submenu a:hover{
    background-color: #787777;
}

.main-menu>ul>li>a::after{
    content: '\25BC';
    font-size: 0.7rem;
    margin-left: 5px;
    transition: transform 0.3s;
}
.main-menu>ul>li>a:after{
    content: '\25BC';
    font-size: 0.7rem;
    margin-left: 5px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.main-menu>ul>li:hover>a:after{
    transform: rotate( -180deg );
}

.main-menu .active>a{
    background-color: #555;
    color: white;
}

#acordion1{
    background-color: #d3d2d2;
}

.basic-accordion{
    display: block;
    width: auto;
    margin: 10px 0;
}

.basic-accordion p{
    padding-left: 10px;
}

.basic-accordion summary{
    display: flex;
    background: radial-gradient(circle, rgb(189, 188, 188) 0%, rgb(98, 98, 98) 100%);
    color: whitesmoke;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
}

.basic-accordion summary::before{
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

.basic-accordion[open] summary::before{
    content: "-";
}

/*Acordeon 2*/
:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  /* Theme color */
  --theme: var(--primary);
}
*, *::before, *::after {
  box-sizing: border-box;
}
/* Core styles/functionality */
.tab {
  position: relative;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-.25rem);
  }
}

/*Tabs (abas)*/

.tabs-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #121213;
}

.tab-buttons label {
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #4b4b4c;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.tab-marker {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #575757;
    transition: left 0.3s ease;
    width: 33.3%; 
    z-index: -1;
}


#tab1:checked ~ .tab-buttons .tab-marker {
    left: 0%;
}


#tab2:checked ~ .tab-buttons .tab-marker {
    left: 33.3%;
}


#tab3:checked ~ .tab-buttons .tab-marker {
    left: 66.6%;
}


.tab-content {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px;
}


.content-panel {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #202020;
}


#tab1:checked ~ .tab-content #content1,
#tab2:checked ~ .tab-content #content2,
#tab3:checked ~ .tab-content #content3 {
    display: block;
}

/*segunda aba*/
.abas {
    position: relative;
    margin: 2rem 0;
    background: #aeaeae;
    height: 15rem;
}

.abas::before, .abas::after {
    content: "";
    display: table;
}

.abas::after {
    clear: both;
}

.aba {
    float: left;
}

.tab-escolha {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #484848;
    border-right: 0.125rem solid #353636;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.3s;
}

.tab-label:hover{
    top: -0.25rem;
    transition: top 0.25s;
}

.tab-content1{
    min-width: auto ;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1rem;
    background: #ffffff00;
    color: #000000;
    border-bottom: 0 solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
}

.tab-escolha:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0 solid #fff;
    transition: all 0.3s;
    z-index: 1;
    top: -0.06rem;
}

.tab-escolha:checked + label + .tab-content1 {
    z-index: 2;
    opacity: 1;
    transition: all 0.3s;
}

/*Parallax 1*/
.parallax-section {
    position: relative;
    height: 35rem; 
    background-image: url("imagens/1.png");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 20px;
}

.parallax-content {
    background: #1e1f23;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}

/*Parallax 2*/
#parallax
.parallax {
    margin: 0;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 40px;
}

.parallax img {
    --f: .1;
    --r: 10px;
    --_f:calc(100%*var(--f)/(1 + var(--f)));
    --_a: calc(90deg*var(--f));
    width: 250px;
    aspect-ratio: calc(1+var(--f));
    object-fit: cover;
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(400px) var(--_t, rotateY(var(--_a)));
    transition: .5s;
    cursor: pointer;
}

.parallax img:hover {
    clip-path: inset( 0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1 *var(--_f))) rotateY(calc(-1*var(--_a)));
}

/*Timeline 1*/

#timeline main {
  width: 70%;
  margin: 60px auto;
  position: relative;
  counter-reset: contador;
}


#timeline main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, #000000, #555555);
  transform: translateX(-50%);
  border-radius: 2px;
}


#timeline main p {
  width: 45%;
  padding: 25px;
  border: 3px solid transparent;
  border-radius: 10px;
  background: #fff;
  margin: 60px 0;
  font-size: 16px;

 
  border-image: linear-gradient(90deg, #000000, #777777) 1;
  position: relative;
}


#timeline main p:nth-child(odd) {
  margin-right: auto;
}

#timeline main p:nth-child(even) {
  margin-left: auto;
}


#timeline main p::before {
  counter-increment: contador;
  content: counter(contador);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;

  background: #000000;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}


#timeline main p:nth-child(odd)::before {
  right: -60px;
}

#timeline main p:nth-child(even)::before {
  left: -60px;
}

/*Timeline 2*/
.cd-container {
	 width: 90%;
	 max-width: 1080px;
	 margin: 0 auto;
	 background: none;
	 padding: 0 10%;
	 border-radius: 2px;
}
 .cd-container::after {
	 content: '';
	 display: table;
	 clear: both;
}
/* Componentes das caixas da Timeline */
 #cd-timeline {
	 position: relative;
	 padding: 2em 0;
	 margin-top: 2em;
	 margin-bottom: 2em;
}
 #cd-timeline::before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 25px;
	 height: 100%;
	 width: 4px;
	 background: #adadad;
}
 @media only screen and (min-width: 1170px) {
	 #cd-timeline {
		 margin-top: 3em;
		 margin-bottom: 3em;
	}
	 #cd-timeline::before {
		 left: 50%;
		 margin-left: -2px;
	}
}
 .cd-timeline-block {
	 position: relative;
	 margin: 2em 0;
}
 .cd-timeline-block:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .cd-timeline-block:first-child {
	 margin-top: 0;
}
 .cd-timeline-block:last-child {
	 margin-bottom: 0;
}
 @media only screen and (min-width: 1170px) {
	 .cd-timeline-block {
		 margin: 4em 0;
	}
	 .cd-timeline-block:first-child {
		 margin-top: 0;
	}
	 .cd-timeline-block:last-child {
		 margin-bottom: 0;
	}
}
 .cd-timeline-img {
	 position: absolute;
	 top: 8px;
	 left: 12px;
	 width: 30px;
	 height: 30px;
	 border-radius: 50%;
	 box-shadow: 0 0 0 4px #717171, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
 .cd-timeline-img {
	 background: #cecdcd;
}
 @media only screen and (min-width: 1170px) {
	 .cd-timeline-img {
		 width: 30px;
		 height: 30px;
		 left: 50%;
		 margin-left: -15px;
		 margin-top: 15px;
	}
}
 .cd-timeline-content {
	 position: relative;
	 margin-left: 60px;
	 margin-right: 30px;
	 background: #000000;
	 border-radius: 2px;
	 padding: 1em;
}
 .cd-timeline-content .timeline-content-info {
	 background: #6c6c6c;
	 padding: 5px 10px;
	 color: rgba(253, 253, 253, 0.7);
	 font-size: 12px;
	 box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
	 border-radius: 2px;
}
 .cd-timeline-content .timeline-content-info i {
	 margin-right: 5px;
}
 .cd-timeline-content .timeline-content-info .timeline-content-info-title, .cd-timeline-content .timeline-content-info .timeline-content-info-date {
	 width: calc(50% - 2px);
	 display: inline-block;
}
 @media (max-width: 500px) {
	 .cd-timeline-content .timeline-content-info .timeline-content-info-title, .cd-timeline-content .timeline-content-info .timeline-content-info-date {
		 display: block;
		 width: 100%;
	}
}
 .cd-timeline-content .content-skills {
	 font-size: 12px;
	 padding: 0;
	 margin-bottom: 0;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
}
 .cd-timeline-content .content-skills li {
	 background: #dfdcdc;
	 border-radius: 2px;
	 display: inline-block;
	 padding: 2px 10px;
	 color: rgba(25, 25, 25, 0.7);
	 margin: 3px 2px;
	 text-align: center;
	 flex-grow: 1;
}
 .cd-timeline-content:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .cd-timeline-content h2 {
	 color: rgba(255, 255, 255, .9);
	 margin-top: 0;
	 margin-bottom: 5px;
}
 .cd-timeline-content p, .cd-timeline-content .cd-date {
	 color: rgba(255, 255, 255, .7);
	 font-size: 13px;
	 font-size: 0.8125rem;
}
 .cd-timeline-content .cd-date {
	 display: inline-block;
}
 .cd-timeline-content p {
	 margin: 1em 0;
	 line-height: 1.6;
}
 .cd-timeline-content::before {
	 content: '';
	 position: absolute;
	 top: 16px;
	 right: 100%;
	 height: 0;
	 width: 0;
	 border: 7px solid transparent;
	 border-right: 7px solid #333c42;
}
 @media only screen and (min-width: 768px) {
	 .cd-timeline-content h2 {
		 font-size: 20px;
		 font-size: 1.25rem;
	}
	 .cd-timeline-content p {
		 font-size: 16px;
		 font-size: 1rem;
	}
	 .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		 font-size: 14px;
		 font-size: 0.875rem;
	}
}
 @media only screen and (min-width: 1170px) {
	 .cd-timeline-content {
		 color: white;
		 margin-left: 0;
		 padding: 1.6em;
		 width: 36%;
		 margin: 0 5%;
	}
	 .cd-timeline-content::before {
		 top: 24px;
		 left: 100%;
		 border-color: transparent;
		 border-left-color: #333c42;
	}
	 .cd-timeline-content .cd-date {
		 position: absolute;
		 width: 100%;
		 left: 122%;
		 top: 6px;
		 font-size: 16px;
		 font-size: 1rem;
	}
	 .cd-timeline-block:nth-child(even) .cd-timeline-content {
		 float: right;
	}
	 .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
		 top: 24px;
		 left: auto;
		 right: 100%;
		 border-color: transparent;
		 border-right-color: #333c42;
	}
	 .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
		 float: right;
	}
	 .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
		 left: auto;
		 right: 122%;
		 text-align: right;
	}
}
 



